# dependencies
node_modules/

# build
dist/
.next/
out/
build/

# misc
.DS_Store
*.pem
*.log

# env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Claude
.claude/
